<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/search.css">
    <title>Results</title>
</head>
<body>
    <h1 id="title">Results</h1>
    <a href="http://localhost:5000/">search again</a>

    

    <div id="wrap">
        <% if(hosts.length > 0){%>
            <%hosts.forEach(host => {%>
                <div id="host">
                    <a href="http://localhost:5000/book/<%= host.hostName %>" style="text-decoration: none;">
                        <img src="http://localhost:5000/<%= host.images[0] %>" alt="">
                        <p id="city"><%= host.hostCity %>, <%= host.country %></p>
                        <p id="name"><%= host.hostName%></p>
                        <p id="price"><%= host.infos.price%>$ for a Night</p>
                    </a>
                </div>
            <%})%>
        <%} else {%>
            <h1>No Results</h1>
        <%}%>
    </div>
</body>
</html>